extends layout

block content
  h1= title
  if customer
    p Welcome to #{customer}
 
    ul
    if customers.length
  
     
       each val in customers
        li= val.email + ' '+val.lastname
  
       else
        li There are no values
    else
       li=customers.email